<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="signup.css" rel="stylesheet">
</head>
<body>
    <div>
    <h2>Signup</h2>
    <form action="/signup" method="post">
    <input id="namebox" type="text" name="fullname" placeholder="Full Name">
    <input id="emailbox" type="text" name="email" placeholder="Email">
    <input id="passbox" type="password" name="password" placeholder="Password">
    <br>
    <input id="submit" type="submit">
    </form>
    <a href="/">I am a Old user</a>
    </div>
</body>
</html>